.thead-dark{
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: wheat;
}

.table tbody tr td:hover:nth-child(4){
background-color: red;
color: aliceblue;
border-radius: 8px;
border: 0.5px solid white;
}

.table tbody tr td:hover:nth-child(8){
  background-color:red;
  color: aliceblue;
  border-radius: 8px;
  border: 0.5px solid white;
  }

.table tbody tr td:hover{
background-color: rgb(71, 199, 54);
color: aliceblue;
border-radius: 8px;
border: 0.5px solid white;
outline: none;
}

marquee{
  color: aqua;
}